<!--Student: Bruna Donatoni-->
<!--Student ID: 301199383-->
<!--Date: Oct 05, 2022-->

<head>
    <meta charset="UTF-8">
    <meta content="Web Application Development, COMP 229" name="keywords">
    <meta content="Home Page" name="description">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <script src="https://kit.fontawesome.com/9412d2d7bc.js" crossorigin="anonymous"></script>
    <title><%= title %></title>
</head>