<!--Student: Bruna Donatoni-->
<!--Student ID: 301199383-->
<!--Date: Oct 05, 2022-->

<nav>
    <a href="/" class="logo">Home Page</a> |
    <a href="/aboutme">About Me</a>  |
    <a href="/projects">Projects</a>  |
    <a href="/services">Services</a>  |
    <a href="/contactMe">Contact</a>  |
    <a href="/login">Login</a>
</nav>