<!--Student: Bruna Donatoni-->
<!--Student ID: 301199383-->
<!--Date: Oct 05, 2022-->

<!DOCTYPE html>
<html>

  <!-- Head of the page -->
  <%- include('partials/head.ejs') %>

  <body>
    <div class="headstyle">
      <br>
      <!-- Header -->
      <%- include('partials/header.ejs') %>
      <!-- Navigation Bar -->
      <%- include('partials/navigationbar.ejs') %>
    </div><br><br><br>
    <div>
      <img class="projectimg" src="images/Microsoft_Office_Access.png" alt="" >
      <h2>Quality Analyst</h2>
      <h3> Database management, Creation and Update of reports, and KPI calculation</h3>
    </div><br><br>

    <div>
      <img class="projectimg" src="images/corolla.jpg" alt="">
      <h2>Corolla Fuel Pump Project Management </h2>
      <h3>At Bosch Brazil, I worked on the Corolla 2020 fuel pump engineering team. My collaboration was to help with project management. It was a 2-year project. I had to help coordinate the schedule to build the production machine, test the quality of the samples, test the production line and issue an invoice for the tooling to the customer, among others. </h3>
    </div><br><br>

    <div>
      <img class="projectimg" src="images/hb20.jfif" alt="">
      <h2>HB20 ECU Project Management</h2>
      <h3>At Bosch Brazil, I worked on the HB20 ECU engineering team. My collaboration was to help with project management. It there that I had my first experience to see programmers at work. </h3>
    </div><br><br>

    <!-- Footer of the page -->
    <%- include('partials/footer.ejs') %>
  </body>

</html>
