<!--Student: Bruna Donatoni-->
<!--Student ID: 301199383-->
<!--Date: Oct 05, 2022-->

<!DOCTYPE html>
<html>

  <!-- Head of the page -->
  <%- include('partials/head.ejs') %>

  <body>
    <div class="headstyle">
      <br>
      <!-- Header -->
      <%- include('partials/header.ejs') %>
      <!-- Navigation Bar -->
      <%- include('partials/navigationbar.ejs') %>
    </div>

    <div class="container" style="width:200px" >
      <br>      <br>      <br>
      <form action="/register" method="post" id="loginForm">
        <label for="username">User Name</label>
        <input type="text" id="username" name="username" placeholder="Your user name.." required autofocus>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Your password.." required>

        <label for="username">Email</label>
        <input type="text" id="email" name="email" placeholder="Your Email.."  required>

        <label for="username">Display Name</label>
        <input type="text" id="displayName" name="displayName" placeholder="Your name for display.." required>
       
        <input type="submit" value="Login">
      </form>
    </div>

    <!-- Footer of the page -->
    <%- include('partials/footer.ejs') %>
  </body>

</html>
